<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body class="main">

<header th:replace="partials/styles :: styles"></header>
<nav th:replace="partials/navbar :: navbar"/>
<main class="container">
    <div class="card offwhite-body">
        <div class="card-image">
            <img src="../static/img/big-bar.png" th:src="@{/img/big-bar.png}" alt="colorful bar"/>
        </div>
        <div class="card-content">
            <h3 class="card-title" th:text="${post.title}"/>
            <p th:text="${post.body}" class="i-like-paragraphs"/>
            <p style="display: flex; justify-content: flex-end; color: maroon" th:text="${post.user.email}" />
            <br/>
            <div th:if="${isPostOwner}">
            <form th:action="@{/posts/delete/{id}(id = ${post.id})}" method="post">
                <button class="waves-effect waves-purple btn-small indigo accent-3">Delete Post</button>
            </form>
            <form th:action="@{/posts/{id}/edit(id = ${post.id})}" method="post">
                <button class="btn">Edit Post</button>
            </form>
            </div>
        </div>
    </div>
</main>
</body>
</html>
©